:root {
    scroll-behavior: smooth;
}

:root {
    // brand colors
    --c-brand: #0678be;
    --c-brand-light: #0678be;
}
  
html.dark {
    // brand colors
    --c-brand: #0678be;
    --c-brand-light: #0678be;
}